//colors
$Bg-dark: #030303;
$Dark-red: #710707;
$Font-gold: #9d8665;
$beige: #d2b183;
$hover-gold: #9d8665;
$White: #ffffff;
//font-size
$big-title: 4.16vw;
$big-text: 1.67vw;
$title: 1.45vw;
$text: 1.145vw;
$small-text: 0.9375vw;

//font-family
$forum: "Forum", serif;
$roboto: "Roboto", sans-serif;
